# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\se_endlab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
